body {
    color: rgba(8, 255, 255, 0.76);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 206, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 228, 203);
}

.chamada {
    background: rgb(214, 35, 35);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;0
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(245, 221, 5);
}

.categoria h2 {
    color: rgb(228, 101, 42);
}